// AppHeader 高度
$header-height-prime: 64px;
$header-height-prime-large: 80px;
$header-height-secondary: 48px;
$header-height-secondary-large: 56px;

// AppFooter 高度
$footer-height-prime: 96px;
$footer-height-prime-large: 144px;
$footer-height-secondary: 72px;
$footer-height-secondary-large: 96px;

// Siderbar 宽度
$sidebar-width: 300px;

// 响应式断点
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;
$breakpoint-xxxl: 2000px;

// 边框颜色
$border-color: #e5e5e5;

// 内容区域背景颜色
$content-bg-color: #fafafa;
