@forward 'variables';
@use 'variables' as *;

html {
  //overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans SC', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

::selection {
  color: #007DFF;
  filter: invert(100%);
  background-color: #00000020;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-bg-light;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-bg-light;
  border: 1px solid $scrollbar-thumb-border-color-light;
  //border-radius: 8px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-bg-light;
}

::-webkit-scrollbar-thumb:active {
  background: $scrollbar-thumb-active-bg-light;
}

// Ant Design
ant-dropdown-menu-title-content {
  white-space: nowrap;
}
